$input-background: #F2F2F2;
$status-blue: #286EF1;
$status-green: #52D194;
$status-purple: #9026B1;
$title-color: #286EF1;
$background: #F9F9F9;

body {
    margin: 0;
    background-color: $background;
    min-height: 100vh;
}

* {
    font-family: 'Roboto';
}

a {
    cursor: pointer;
}

.hide {
    display: none;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #333333;
}

.container {
    margin: 0 20% 0 20%;
        @media (max-width:1400px) {
            margin: 0 10% 0 10%;
        }
        @media (max-width:600px) {
            margin: 0 5% 0 5%;
        }
}

.dec{
    transform: rotate(180deg)
}
.search {
    background-color: $input-background;
    border: $input-background;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    /* identical to box height, or 200% */

    letter-spacing: 0.26px;
    border-radius: 23px;
    color: #555555;
}


#search + label:before {
    content: url('../public/search.png');
    position: relative;
    z-index: 3;
    top: -30px;
    right: 160px;
    @media (max-width:400px) {
        right: 35vw;
    }
}
#searchT + label:before {
    content: url('../public/search.png');
    position: relative;
    z-index: 3;
    top: 3px;
    right: 255px;
    @media (max-width:700px) {
        right: 230px;
    }
}

.support-search {
    margin-top: 60px;
    margin-bottom: 40px;
    padding-bottom: 80px;
    background-color: white;
    border-radius: 4px;

    .top-buttons {
        display: flex;
        height: 90px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #EDEDED;
        ;

        .left-buttons {
            display: flex;
            @media (max-width:500px) {
                flex-direction: column;
            }
            margin-left: 25px;

            a {
                margin: 5px;
                font-weight: 700;
                font-size: 15px;
                line-height: 30px;
                /* identical to box height, or 200% */

                display: flex;
                align-items: center;
                letter-spacing: 0.26px;

                color: #000000;
            }
        }

        .right-buttons {
            display: flex;
            align-items: center;
            @media (max-width:500px) {
                flex-direction: column-reverse;
            }
            .href {
                margin-right: 20px;
                color: #555555;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                /* identical to box height, or 154% */
                letter-spacing: 0.26px;
                text-transform: capitalize;

                color: #555555;
            }

            button {
                border: $title-color;
                margin-right: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 13px;
                line-height: 15px;
                /* identical to box height */
                letter-spacing: 0.26px;

                color: #FFFFFF;


                width: 140px;
                height: 40px;
                background: $title-color;
                border-radius: 4px;

                a::before {
                    content: url('../public/support-icon.png');
                    margin-top: 3px;
                    margin-right: 3px;
                }
            }
        }
    }

    .main-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;

        .black-messages {
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            width: 64px;
            height: 64px;
        }

        h1 {
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            /* identical to box height, or 146% */

            letter-spacing: 0.26px;
        }

        .text {
            font-weight: 400;
            font-size: 15px;
            
            text-align: center;
            letter-spacing: 0.26px;

            color: #555555;
        }

        .link {
            margin-top: 15px;
            font-weight: 700;
            font-size: 11px;
            line-height: 18px;
            /* identical to box height, or 164% */

            letter-spacing: 0.26px;
            text-transform: uppercase;

            color: #286EF1;
        }

        .link::after {
            content: url('../public/arrow.png');
            width: 13px;
            margin-top: 3px;
            margin-left: 5px;
        }

        input {
            margin-top: 15px;
            width: 370px;
            @media (max-width:400px) {
                width: 90%;
            }
            height: 40px;

        }
    }
}


.tickets {
    background-color: white;

    .top-panel {
        display: flex;
        height: 90px;
        border-bottom: 1px solid #EDEDED;
        align-items: center;
        justify-content: space-between;
        @media (max-width:700px) {
            flex-direction: column;
            justify-content: flex-start;
            height: 120px;
        }
        @media (max-width:440px) {
            height: 150px;
        }

        h3 {
            @media (min-width:700px) {
                margin-left: 30px;    
            }
        }

        .top-right {
            display: flex;
            align-items: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 30px;
            /* identical to box height, or 231% */

            letter-spacing: 0.26px;

            color: #000000;
            @media (max-width:440px) {
                flex-direction: column-reverse;
            }
            input {
                width: 240px;
                height: 40px;
                @media (min-width:700px) {
                    margin-right: 30px;    
                }
                

            }

            .dropdown-content {
                flex-direction: column;
                background: #FFFFFF;
                border: 1px solid #EDEDED;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                // position: absolute;
                @media (min-width:440px) {
                    margin-top: 120px;                    
                }
                z-index: 1;

                a {
                    display: flex;
                    align-items: center;
                    font-style: normal;
                    justify-content: space-between;
                    width: 100%;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 25px;
                    /* identical to box height, or 192% */
                    text-decoration: none;
                    letter-spacing: 0.25px;
                    color: black;
                    margin: 10px 0px 5px 10px;
                }


            }

            .dropdown-hide {
                display: none;
            }

            .dropdown-show {
                display: flex;
            }

            .filter {
                @media (min-width:440px) {
                    margin-right: 26px;                    
                }

                display: flex;
                align-items: center;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 30px;
                /* identical to box height, or 231% */

                letter-spacing: 0.26px;

                .length {
                    margin-left: 10px;
                    margin-right: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    background-color: $input-background;
                    border-radius: 100%;

                }

                .open {
                    background-color: $status-blue;
                    color: white;
                }

                .feedback {
                    color: white;
                    background-color: $status-purple;
                }

                .resolved {
                    color: white;
                    background-color: $status-green;
                }

                .down {
                    width: 10px;
                    //height: 10px;
                }
            }
        }
    }

    table {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
        text-align: left;

        th {
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 30px;
            /* identical to box height, or 300% */
            
            letter-spacing: 0.26px;
            text-transform: uppercase;

            color: #000000;

        }

        td {
            border-top: 1px solid #EDEDED;
            padding-top: 16px;
            padding-bottom: 15px;
        }
        .created{
            min-width: 80px;
            cursor: pointer;
        }
        .ticket {
            width: 35%;

            .title {
                width: 100%;
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 30px;
                letter-spacing: 0.26px;
                color: $title-color;
            }

            .forum-title {
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;
                /* identical to box height, or 154% */

                letter-spacing: 0.26px;
                
                color: #555555;

            }
        }

        .status {
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 0.26px;
            text-transform: uppercase;
            color: #FFFFFF;

            .resolved {
                padding: 0 5px 0 5px;
                max-width: fit-content;
                border-radius: 14px;
                background-color: $status-green;
            }

            .open {
                padding: 0 5px 0 5px;
                max-width: fit-content;
                border-radius: 14px;
                background-color: $status-blue;
            }

            .feedback {
                padding: 0 5px 0 5px;
                max-width: fit-content;
                border-radius: 14px;
                background-color: $status-purple;
            }
        }

        .created-on {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 30px;
            /* identical to box height, or 231% */

            letter-spacing: 0.26px;
            text-transform: capitalize;

            color: #555555;
        }

        .replies {
            width: 35%;

            .reply-data {
                display: flex;
                align-items: center;
                @media (max-width:1000px) {
                    flex-wrap: wrap;
                }
                
            }

            .avatar {
                width: 25px;
                height: 25px;
                border-radius: 100%;
                margin-right: 10px;
            }

            .last-by {
                width: 145px;
                @media (max-width:1000px) {
                    width: fit-content;
                }
                font-weight: 400;
                font-size: 13px;
                line-height: 30px;
                /* identical to box height, or 231% */

                letter-spacing: 0.26px;
                text-transform: capitalize;

                color: #555555;
            }

            .num-replies {
                width: 28px;
                height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 11px;
                background: url('../public/replies.png');
            }

            .staff {
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                /* identical to box height, or 120% */
                padding: 5px;
                display: flex;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                align-items: center;
                letter-spacing: 0.26px;
                text-transform: uppercase;
                margin-left: 5px;
                background: #EDEDED;
                border-radius: 13px;
                color: #000000;
            }

            .staff::before {
                content: url('../public/staff.png');
                width: 10px;
                margin-right: 3px;
                height: 10px;
            }
        }

    }
}

.buttons-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

    .pages {

        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        /* identical to box height, or 167% */
        margin-left: 30px;
        letter-spacing: 0.26px;
        text-transform: capitalize;
        display: flex;

        div {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 100%;

        }

        .chosen {
            background-color: #000000;
            color: white;
        }
    }

    .left-right {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        letter-spacing: 0.26px;
        text-transform: capitalize;

        color: #555555;

        .button {
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            background-color: white;

        }

        .unable {
            background-color: $background;
        }
    }
}